@font-face {
    font-family: mono;
    src: url(../../fonts/mono/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&family=Roboto+Mono:wght@100&display=swap');
}

@font-face {
    font-family: 'Montserrat';
    src: url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,900&family=Poppins&family=Press+Start+2P&family=Roboto+Mono:wght@100&display=swap);
}